@media only screen and (max-width: 900px) {
  body,html{
    max-width: 100%;
    overflow-x: hidden;
  }
  .hero{
    h1{
      font-size: 42px;
      margin-top: 100px;
    }
    p{
      font-size: 16px;
    }
  }
  p{
    font-size: 16px;
  }
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 20px;
  }
  .image-text, .foldable, .keytopics{
    padding-left: 14px;
    padding-right: 14px;
  }
  .foldable .fold-title{
    font-size: 20px;
  }
  ul, ol{
    padding-inline-start: 24px;
  }
  ul li, ol li{
    font-size: 16px;
  }
  .wordcloud p{
    font-size: 16px;
    width: 150px;
    height: 150px;
    padding: 5px;
  }
  .topics{
    flex-direction: column;
    .topic{
      width: 100%;
    }
  }
  .deepdives-menu{
    flex-direction: row;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    top: 14px;
    .deepdives-menu-button{
      font-size: 14px;
      width: 2rem;
      height: 2rem;
    }
  }
  .deepdives-menu .deepdives-menu-button:hover{
    width: fit-content;
  }
  .deepdives-menu .deepdives-menu-button:hover .text{
    display: none;
  }
  .deepdive .flex-wrap{
    flex-direction: column;
    .text-content, .bio{
      width: 100%;
      max-width: 100%;
      h2{
        font-size: 20px;
      }
    }
  }
  .quote p{
    font-size: 24px;
    padding: 0 14px;
  }
}