@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$black: #141413;
$white: #f7f1f0;
$pink: #f23652;

*{
  box-sizing: border-box;
}

body{
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  background-color: $white;
}

p{
  line-height: 1.4;
  font-size: 18px;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

h2{
  font-size: 48px;
}

h3{
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 500;
}

.hero{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  h1{
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 800;
    max-width: 1100px;
    text-align: center;
    margin: auto;
    line-height: 1;
    z-index: 2;
    margin-top: 48px;
  }
  p{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
  }
  img{
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    top: 100px;
    mix-blend-mode: multiply;
  }
}

.image-text{
  width: 100vw;
  height: fit-content;
  padding: 48px 0;
  margin-top: 100px;
  p{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  h2{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  background-color: $black;
  color: $white;
}

.keytopics{
  width: 100vw;
  height: fit-content;
  padding: 48px 0;
  margin-top: 100px;
  p{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  h2{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  background-color: $black;
  color: $white;
  .topics{
    display: flex;
    margin-top: 100px;
    margin-bottom: 48px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .topic{
    border-radius: 50%;
    background-color: $pink;
    width: fit-content;
    padding: 24px;
    display: flex;
    align-items: center;
    color: $black;
    width: 135px;
    height: 135px;
    text-align: center;
    justify-content: center;
    margin-right: 14px;
    transition: all 0.4s ease;
    cursor: pointer;
    &:nth-child(2n){
      background-color: $white;
      margin-top: 30px;
    }
    &:nth-child(2n+1){
      margin-top: -30px;
    }
    &:hover{
      transform: scale(1.1);
    }
  }
  .popup-topics{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    &.alt-color .wrapper{
      background-color: $white;
    }
    .wrapper{
      background: $pink;
      padding: 14px;
      // border-radius: 8px;
      max-width: 600px;
      // width: 90%;
      position: relative;
      // max-height: 90vh;
      overflow-y: scroll;
      box-sizing: border-box;
      color: $black;
      animation-name: grow;
      animation-duration: 0.6s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: forwards;
      .close{
        text-align: right;
        cursor: pointer;
      }
      p, .close, ul, li{
        animation-name: fade;
        animation-duration: 0.6s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: forwards;
      }
    }
  }
}

@keyframes grow {
  0% {
    width: 135px;
    height: 135px;
    border-radius: 50%;
  }
  50% {    
    width: 600px;
    height: 600px;
    border-radius: 50%;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  90%{
    opacity: 0;
  }
  100% {    
    opacity: 1;
  }
}

.foldable{
  max-width: 900px;
  margin: auto;
  padding: 48px 0;
  .fold-section{
    margin-top: 48px;
  }
  .fold{
    margin-bottom: 14px;
  }
  .fold-title{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 1px solid $black;
  }
  .credits{
    margin-top: 48px;
    p{
      font-size: 14px;
    }
  }
}

.deepdives-section{
  background: white;
  background-image: linear-gradient(#f2f2f2 0.1em, transparent 0.1em), linear-gradient(90deg, #f2f2f2 0.1em, transparent 0.1em);
  background-size: 3em 3em;
  // height: 100vh;
  h2{
    text-align: center;
    margin: 0;
    padding-top: 100px;
  }
}
.deepdives{
  overflow-x: scroll;
  max-width: 100vw;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 14px;
  span{
    color: $pink;
  }
  .deepdive{
    width: fit-content;
    max-width: 100%;
    min-width: 400px;
    margin: 24px;
    margin-top: 48px;
    margin-bottom: 100px;
    background-color: white;
    // display: flex;
    align-items: center;
    position: relative;
    border: 1px solid $black;
    text-align: left;
    padding: 24px 24px;
    border-radius: 10px;
    transition: all 0.4s ease;
    img{
      width: 100%;
      height: auto;
      mix-blend-mode: multiply;
    }
    &:hover{
      margin-top: 24px;
    }
  }
}

.deepdives::-webkit-scrollbar {
  width: 10px;
}
.deepdives::-webkit-scrollbar-track {
  background: white;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
}
.deepdives::-webkit-scrollbar-thumb {
  background: rgba(242, 54, 82, 0.8);
}
.deepdives::-webkit-scrollbar-thumb:hover {
  background: $pink;
}

ul, ol{
  padding-inline-start: 50px;
  li{
    line-height: 1.4;
    padding-left: 14px;
    margin-bottom: 14px;
    font-size: 18px;
  }
}

.person-link{
  a{
    font-weight: 500;
    &:hover{
      color: $pink;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  position: relative;
  max-height: 90vh;
  overflow-y: scroll;
  box-sizing: border-box;
  img{
    width: 100%;
    height: auto;
  }
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}